@import "../../assets/scss/common";

.navbar-wrapper {
}


.NavbarButton {
  margin: 20px;

  & a {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

  }

  &:hover {
    background-color: $purple;
    border-radius: 20px;
  }
}
