.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-wrapper {
  display: grid;
  width: auto;
  margin: 0 auto;

  grid-template-areas:
  "n c";

  grid-template-rows: 60px 1fr;
  grid-auto-columns: 1fr 4fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.app-wrapper-content {
  grid-area: c;
  /*
  background-color: #52f872;
  */
}
